<div class="relative border-t bg-[#0d1224] border-[#353951] text-white">
  <div
    class="mx-auto px-3 lg:max-w-[70rem] xl:max-w-[76rem] 2xl:max-w-[92rem] py-5"
  >
    <div class="flex justify-center -z-40">
      <div
        class="absolute top-0 h-[1px] w-1/2 bg-gradient-to-r from-transparent via-violet-500 to-transparent"
      ></div>
    </div>
    <div
      *ngIf="!!personal"
      class="flex flex-col md:flex-row items-center justify-between"
    >
      <p class="text-sm">
        Copyright &copy; 2025
        <a
          target="_blank"
          class="text-[#16f2b3]"
          [href]="personal.socials[0].uri"
          >{{ personal.name }}</a
        >. All rights reserved.
      </p>
      <div class="flex items-center gap-2 italic">
        This stie is still in development<i
          class="fa-solid fa-face-grin-beam-sweat"
        ></i>
      </div>
    </div>
  </div>
</div>
