<div id="contact" class="my-12 lg:my-16 relative mt-24 text-white">
  <div class="hidden lg:flex flex-col items-center absolute top-24 -right-8">
    <span
      class="bg-[#1a1443] w-fit text-white rotate-90 p-2 px-5 text-xl rounded-md"
      >CONTACT</span
      ><span class="h-36 w-[2px] bg-[#1a1443]"></span>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16 items-center">
      <div class="mb-2">
        <p class="font-medium mb-5 text-[#16f2b3] text-xl uppercase">
          Contact with me (COMING SOON <i class="fas fa-smile"></i>)
        </p>
        <div
          class="max-w-3xl text-white rounded-lg border border-[#464c6a] p-3 lg:p-5"
          >
          <p class="text-sm text-[#d3d8e8]">
            If you have any questions or concerns, please don't hesitate to
            contact me. I am open to any work opportunities that align with my
            skills and interests.
          </p>

          <div class="mt-6 flex flex-col gap-4">
            <div class="flex flex-col gap-2">
              <label class="text-base">Your Name: </label
                ><input
                class="bg-[#10172d] w-full border rounded-md border-[#353a52] focus:border-[#16f2b3] ring-0 outline-0 transition-all duration-300 px-3 py-2"
                type="text"
                maxlength="100"
                required=""
                value=""
                />
              </div>
              <div class="flex flex-col gap-2">
                <label class="text-base">Your Email: </label
                  ><input
                  class="bg-[#10172d] w-full border rounded-md border-[#353a52] focus:border-[#16f2b3] ring-0 outline-0 transition-all duration-300 px-3 py-2"
                  type="email"
                  maxlength="100"
                  required=""
                  value=""
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <label class="text-base">Your Message: </label
                    ><textarea
                    class="bg-[#10172d] w-full border rounded-md border-[#353a52] focus:border-[#16f2b3] ring-0 outline-0 transition-all duration-300 px-3 py-2"
                    maxlength="500"
                    name="message"
                    required=""
                    rows="4"
                  ></textarea>
                </div>
                <div class="flex flex-col items-center gap-3">
                  <button
                    class="opacity-10 flex items-center gap-1 hover:gap-3 rounded-full bg-gradient-to-r from-pink-500 to-violet-600 px-5 md:px-12 py-2.5 md:py-3 text-center text-xs md:text-sm font-medium uppercase tracking-wider text-white no-underline transition-all duration-200 ease-out hover:text-white hover:no-underline md:font-semibold"
                    role="button"
                    [disabled]="true"
                    >
                    <span class="flex items-center gap-1"
                      >Send Message<svg
                      stroke="currentColor"
                      fill="none"
                      stroke-width="2"
                      viewBox="0 0 24 24"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      height="20"
                      width="20"
                      xmlns="http://www.w3.org/2000/svg"
                      >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path
                        d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5"
                      ></path>
                      <path d="M3 6l9 6l9 -6"></path>
                      <path d="M15 18h6"></path>
                      <path d="M18 15l3 3l-3 3"></path></svg
                    ></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          @if (!!contact) {
            <div class="lg:w-3/4">
              <div class="flex flex-col gap-5 lg:gap-9">
                <p class="text-sm md:text-xl flex items-center gap-3">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 24 24"
                    class="bg-[#8b98a5] p-2 rounded-full hover:bg-[#16f2b3] hover:scale-110 transition-all duration-300 text-gray-800 cursor-pointer"
                    height="36"
                    width="36"
                    xmlns="http://www.w3.org/2000/svg"
                    >
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                      d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10h5v-2h-5c-4.34 0-8-3.66-8-8s3.66-8 8-8 8 3.66 8 8v1.43c0 .79-.71 1.57-1.5 1.57s-1.5-.78-1.5-1.57V12c0-2.76-2.24-5-5-5s-5 2.24-5 5 2.24 5 5 5c1.38 0 2.64-.56 3.54-1.47.65.89 1.77 1.47 2.96 1.47 1.97 0 3.5-1.6 3.5-3.57V12c0-5.52-4.48-10-10-10zm0 13c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"
                    ></path></svg
                    ><span
                    ><a
                    class="hover:text-[#16f2b3] hover:scale-110"
                    [href]="'mailto:' + contact.email"
                    >{{ contact.email }}</a
                    ></span
                    >
                  </p>
                  <p class="text-sm md:text-xl flex items-center gap-3">
                    <svg
                      stroke="currentColor"
                      fill="currentColor"
                      stroke-width="0"
                      viewBox="0 0 512 512"
                      class="bg-[#8b98a5] p-2 rounded-full hover:bg-[#16f2b3] hover:scale-110 transition-all duration-300 text-gray-800 cursor-pointer"
                      height="36"
                      width="36"
                      xmlns="http://www.w3.org/2000/svg"
                      >
                      <path
                        d="M426.666 330.667a250.385 250.385 0 0 1-75.729-11.729c-7.469-2.136-16-1.073-21.332 5.333l-46.939 46.928c-60.802-30.928-109.864-80-140.802-140.803l46.939-46.927c5.332-5.333 7.462-13.864 5.332-21.333-8.537-24.531-12.802-50.136-12.802-76.803C181.333 73.604 171.734 64 160 64H85.333C73.599 64 64 73.604 64 85.333 64 285.864 226.136 448 426.666 448c11.73 0 21.334-9.604 21.334-21.333V352c0-11.729-9.604-21.333-21.334-21.333z"
                      ></path></svg
                      ><span
                      ><a
                      class="hover:text-[#16f2b3] hover:scale-110"
                      [href]="'tel:' + contact.phone"
                      >{{ contact.phone }}</a
                      ></span
                      >
                    </p>
                    <p class="text-sm md:text-xl flex items-center gap-3">
                      <svg
                        stroke="currentColor"
                        fill="currentColor"
                        stroke-width="0"
                        viewBox="0 0 24 24"
                        class="bg-[#8b98a5] p-2 rounded-full hover:bg-[#16f2b3] hover:scale-110 transition-all duration-300 text-gray-800 cursor-pointer"
                        height="36"
                        width="36"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <g id="Location_On">
                          <g>
                            <path
                              d="M12,21.933a1.715,1.715,0,0,1-1.384-.691L5.555,14.5a7.894,7.894,0,1,1,12.885-.009L13.385,21.24A1.717,1.717,0,0,1,12,21.933ZM11.992,3.066A6.81,6.81,0,0,0,7.414,4.815a6.891,6.891,0,0,0-1.05,9.1l5.051,6.727a.725.725,0,0,0,.584.292h0a.732.732,0,0,0,.586-.292l5.044-6.734A6.874,6.874,0,0,0,12.81,3.113,7.277,7.277,0,0,0,11.992,3.066Z"
                            ></path>
                            <path
                              d="M12,12.5A2.5,2.5,0,1,1,14.5,10,2.5,2.5,0,0,1,12,12.5Zm0-4A1.5,1.5,0,1,0,13.5,10,1.5,1.5,0,0,0,12,8.5Z"
                            ></path>
                          </g>
                        </g></svg
                        ><span>
                        <a
                          class="hover:text-[#16f2b3] hover:scale-110"
              [href]="'http://maps.google.com/?q=' + contact.address"
              target="_blank"
              >{{ contact.address }}</a
            >
          </span>
        </p>
      </div>
      <div class="mt-8 lg:mt-16 flex items-center gap-5 lg:gap-10">
        @for (item of contact.socials; track item) {
<a
         
          target="_blank"
          [href]="item.uri"
        >
          <i
            class="text-3xl bg-[#8b98a5] py-2.5 px-1 rounded-full hover:bg-[#16f2b3] hover:scale-110 transition-all duration-300 text-gray-800 cursor-pointer"
            [class]="item.icon"
          ></i
        ></a>
}
      </div>
    </div>
}
  </div>
</div>
